html {
    scroll-behavior: smooth;
}

.nav {
    display: block;
    unicode-bidi: isolate;
}

.container .text-uppercase {
    margin-left: 20px;
}

a {
    color: #4ea6ff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.2s ease;
}

a:hover {
    color: #a340ff;
    text-decoration: underline;
}

.pagenumInput {
    color: #333;
}

.float-right{
    position: fixed;
    bottom: 60px;
    right: 20px;
    z-index: 999;
    text-align: center;
    padding: bottom 40px;
    transition: .3s;
}
.float-right .float-btn{
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 1em;
    color: #fff;
    background-color: rgba(140, 110, 212, 0.5);
    position: relative;
}
.float-right .float-btn:hover{
    background-color: #ff9624;
}
.float-right.round .float-btn{
    margin-top: 10px;
    border-radius: 10px;
}
.float-left{
    position: fixed;
    bottom: 60px;
    left: 20px;
    z-index: 999;
    text-align: center;
    padding: bottom 40px;
    transition: .3s;
}
.float-left .float-btn{
    width: 40px;
    line-height: 40px;
    display: block;
    font-size: 1em;
    color: #fff;
    background-color: rgba(250, 75, 50, 0.5);
    position: relative;
}
.float-left .float-btn:hover{
    background-color: #4bd2ff;
}
.float-left.round .float-btn{
    margin-top: 10px;
    border-radius: 10px;
}

.quick-jump{
    text-align: center;
    line-height: 30px;
    font-size: 16px;
    margin-bottom: 20px;
}
.jumpbtn {
    background-color: rgb(255, 0, 180);
    color: #fff;
    border-radius: 5px;
    padding: 3px 10px;
    border: none;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.jumpbtn:hover {
    background-color: rgb(200, 0, 140);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
