.login {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background-image: linear-gradient(to right, #fbc2eb, #a6c1ee);
}

.login .login-wrapper {
    background-color: rgba(255,255,255,0.7);
    width: 90%;
    height: 90%;
    max-width: 360px;
    max-height: 520px;
    border-radius: 15px;
    margin-top: 20px;
    padding: 10px 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
}

.login .header {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 90px;
}

.login .input-item {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 0;
    padding: 10px;
    border-bottom: 1px solid rgb(128, 125, 125);
    font-size: 14px;
    outline: none;
}

.login .input-item:placeholder {
    text-transform: uppercase;
}

.login .btn {
    text-align: center;
    padding: 10px;
    width: 60%;
    margin-top: 10px;
    background-image: linear-gradient(to right, #a6c1ee, #fbc2eb);
    color: #000000;
    border-radius: 8px;
}

.login .btn:hover {
    color: rgb(50, 200, 0);
}

.login .msg {
    text-align: center;
    margin-top: 5px;
    line-height: 40px;
    clear: both;
}

.login .msg2 {
    text-align: right;
    line-height: 20px;
    margin-bottom: 20px;
}

.login a {
    text-decoration-line: none;
    color: #0055ff;
}
